{% extends 'base.html.twig' %}

{% block title %}Ma COcOtte-Modification de l'Utilisateur
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de Modification du Mot de Passe de l'Utilisateur</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}


		{{ form(form) }}
		</div>
	{% endblock %}